version: "3.9"

services:
  python:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/workspace:cached
    working_dir: /workspace
    tty: true
    ports:
      - "8000:8000"
